{% extends "base.html" %} {% block title %}{{ translations['app_name'] }} - {{ translations['login'] }}{% endblock %} {% block content %}
{{ translations['sign_in'] }}
{{ form.hidden_tag() }}
{{ translations['email'] }} {{ form.email(class="form-control", placeholder=translations['email']) }} {% if form.email.errors %}
{% for error in form.email.errors %} {{ error }} {% endfor %}
{% endif %}
{{ translations['password'] }} {{ form.password(class="form-control", placeholder=translations['password']) }} {% if form.password.errors %}
{% for error in form.password.errors %} {{ error }} {% endfor %}
{% endif %}
{{ form.submit(class="btn btn-primary btn-lg", value=translations['login']) }}
{{ translations['not_registered_yet'] }} {{ translations['create_account'] }}

{% endblock %}